/*
 *= require bootstrap
 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: #fff;
  background: url(grilled-steak.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family:  Arial, Helvetica, sans-serif;
  color:#666;
  /*font-size:12px;*/
  /*text-shadow: 0.5px 0.5px 0px #fff;*/

}

a { text-decoration: none; }
a:hover { text-decoration: none; } 

.carousel { 
  width:100%; 
  height:400px; 
  overflow: hidden;
}

/*Transition instead of sliding for Carousel*/
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}


.panel-logged-in img 
{
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.panel-logged-in img:hover 
{
  width: 100%;
  height: 400px;
  filter: none;
  -webkit-filter: grayscale(0%);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.navbar {
  background: rgba(0,0,0,0.85);

  box-shadow: inset 0 1px #000, 0 6px 6px rgba(34,25,25,0.4);
  -moz-box-shadow: inset 0 1px #000, 0 6px 6px rgba(34,25,25,0.4);
  -webkit-box-shadow: inset 0 1px #000, 0 6px 6px rgba(34,25,25,0.4);
  z-index: 1010
}

h1, caption {
  font-size: 160%;
  text-align: left;
  line-height: 200%;
  border-bottom: 1px solid #fff;
}

h2, legend {
  text-align: left;
  font-size: 130%;
  line-height: 1.5;
  color: #5cb85c;
  border-bottom: 1px solid #fff;
}

/* Override B3 .panel adding a subtly transparent background */
.panel {
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.65);
  border: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.panel-logged-in {  
  float: left;
  overflow: hidden;
}

.white-font { color: white; }

.margin-base-vertical {
  margin: 40px 0;
}

.fixed-button-width {
  width: 140px;
}

.fixed-comment-button-width {
  width: 250px;
}

.background-landing {
  background: url(grilled-steak-bw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#loginform, #registration-form {
  margin-top: 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  background: rgba(0,0,0,0.7);
}

/*
---------------------------------------------------
---------------------------------------------------
---------------------------------------------------*/

/*TABLE STYLING*/

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:18px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  /*margin:20px;*/
  border:#ccc 1px solid;

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
/*
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;*/
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:7px;
  -webkit-border-top-left-radius:7px;
  border-top-left-radius:7px;

}
table tr:first-child th:last-child {
  -moz-border-radius-topright:7px;
  -webkit-border-top-right-radius:7px;
  border-top-right-radius:7px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:7px;
  -webkit-border-bottom-left-radius:7px;
  border-bottom-left-radius:7px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:7px;
  -webkit-border-bottom-right-radius:7px;
  border-bottom-right-radius:7px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

/*
---------------------------------------------------
---------------------------------------------------
---------------------------------------------------*/

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  text-align: right;
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}